@import url("https://use.typekit.net/qna1cny.css");
body{
    font-family: "brevia", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: white;
    background-color: rgb(224, 121, 121);
    display: block;
}
main{
    align-items: stretch;
    display: flex;
}
.h1{
    display:block;
}
.kkk{
    background-color: rgb(112, 30, 30);
    margin-bottom: 10px;
    width: 300px;
    height:50px;
    display: flex; 
    justify-content: center;
    font-family: "brevia", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: white;
    border: none;
    border-color: none;
    border-radius: 5px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.picker{
    width:400px;
    height:100%;
    display:inline-block;
    margin-top: 5%;
    margin-left: 2vw;
}
.pizza_wrap{
    display: flex;
}
.pizza{
    display:inline-block;
    background-color: rgb(226, 193, 154);
    width: 600px;
    height: 600px;
    align-self: left;
    border-radius: 500px;
    margin-left: 200px;
    margin-top: 50px;
}
